.footer {
    text-align: left;
    display: grid;
    background: #2F5390;
    color: white;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 16px;
    max-Width: 960;
    padding: 0px 1.0875rem 1.45rem;
    padding-Top: 20px;
}
.footer-column {
    display: grid;
}

.footer-column h6 {
    text-decoration: underline;
}

@media all and (max-width: 768px) { 
    .footer {
        display: grid;
        background: #2F5390;
        color: white;
        grid-template-columns: 1fr 1fr;
        grid-gap: 16px;
        margin: 0 auto;
        max-Width: 750;
        padding: 0px 1.0875rem 1.45rem;
        padding-Top: 20px;
    }
    .footer-column {
        display: grid;
    
    }
}

@media all and (max-width: 480px) {
    .footer {
        display: grid;
        background: #2F5390;
        color: white;
        grid-template-columns: 1fr;
        grid-gap: 16px;
        margin: 0 auto;
        max-Width: 460;
        padding: 0px 1.0875rem 1.45rem;
        padding-Top: 20px;
    }
    .footer-column {
        display: grid;
    
    }
}